@import 'tailwindcss';

:root {
  --background: #191919;
  --foreground: #ededed;
  --font-playfair-display: 'Playfair Display', serif;
  --font-quicksand: 'Quicksand', sans-serif;
}

@theme {
  --font-playfair: var(--font-playfair-display);
  --font-quicksand: var(--font-quicksand);
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Slick slider custom styles */
.slick-slide {
  padding: 0 7px;
}

.slick-prev {
  left: 0 !important;
}

.slick-next {
  right: 0 !important;
}
