@import 'tailwindcss';

:root {
  --background: #191919;
  --foreground: #ededed;
  --font-playfair-display: 'Playfair Display', serif;
  --font-quicksand: 'Quicksand', sans-serif;
}

@theme {
  --font-playfair: var(--font-playfair-display);
  --font-quicksand: var(--font-quicksand);
}

body {
  background: var(--background);
  color: var(--foreground);
}
