@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.animateSlideDown {
  animation: slideDown 0.5s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}
